.img{
    margin-top: 10%;
    margin-bottom: 10%;
    height: auto;
    width: auto;
}

.accordHead{
    font-size: 1.5em;
    font-weight: bold;
}

.projectContainer {
    position: relative;
    width: 50%;
}

.projectImg {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #262626;
    border-radius:.25rem;
}

.projectContainer:hover .overlay {
    opacity: 0.7;
}

.headerText {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.linkRepo{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.linkApp{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 65%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.projectContainer:hover a{
    color: white;
}

@media only screen and (max-width: 576px) {
    .img{height: 186px; width: 162px};
}
