body{
    font-size: 100%;
}

.homeText{
    text-align: center;
    margin-top: 5%;
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.img{
    margin-top: 10%;
    margin-bottom: 10%;
    height: 300px;
    width: 300px;
}

.accordHead{
    font-size: 1.5em;
    font-weight: bold;
}

.projectCard{
    margin-bottom: 5%;
}

.projectContainer {
    position: relative;
    width: 50%;
}

.projectImg {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #262626;
    border-radius:.25rem;
}

.projectContainer:hover a{
    color: white;
}

.projectContainer:hover .overlay {
    opacity: 0.7;
}

.headerText {
    color: white;
    font-size: 1.2em;
    position: absolute;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.linkRepo{
    color: white;
    font-size: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.linkApp{
    color: white;
    font-size: 1em;
    position: absolute;
    top: 65%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 576px) {
    .img{height: 186px; width: 162px};
    .headerText{line-height: 110%};
    .linkRepo{line-height: 110%};
    .linkApp{line-height: 110%};
}
